

        <div class="modal-header card-header">
          <div class="d-flex align-items-center">
            <h5 class='mb-0'>
              <div *ngIf="room && room.id">
                <fa-icon [icon]="faCogIcon"></fa-icon>
                {{ 'commons.update' | translate }} {{ 'commons.room' | translate }}
              </div>
              <div *ngIf="room == null || (room && room.id == null)">
                <fa-icon [icon]="faCogIcon"></fa-icon>
                {{ 'commons.create' | translate }} {{ 'commons.room' | translate }}
              </div>
              
                
             
            </h5>
            
          </div>
          <div *ngIf="updateData" class="d-flex spinner-border text-primary"></div>
         
        </div>
        <div class="modal-body" style="padding-left: 20px;padding-right: 20px;padding-top: 0px;padding-bottom: 0px;">
      
          <ul class="nav nav-tabs mt-1" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> General Data</a>
            </li>
           

          </ul>
          <form [formGroup]="roomForm">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">  
                <div class="container-fluid" style="padding-left: 0px;padding-right: 5px; margin-bottom: 5px;">
                  <div class="row no-gutters" style="margin-bottom: 5px;">
                
                      <div class="col-2 d-flex" style="margin-bottom: 5px;">
                        <label for='e_name' style="margin-right: 15px;margin-left: 5px;">{{ 'commons.name' | translate
                          }}*:</label>
                      </div>
                      <div class="col">
                        <input class='form-control form-control-sm' type='text' formControlName='name'>
                      </div>
                      </div>
                      <div class="row no-gutters" style="margin-bottom: 5px;">
                
                        <div class="col-2 d-flex" style="margin-bottom: 5px;">
                        <label for='e_descrip' style="margin-right: 15px;margin-left: 5px; margin-bottom: 5px;">{{
                          'commons.descrip' | translate }}:</label>
                        </div>
                        <div class="col">
                        <input class='form-control form-control-sm' type='text' formControlName='description'>
                      </div>
                      </div>
                      <div class="row no-gutters" style="margin-bottom: 5px;">
                
                        <div class="col-2 d-flex" style="margin-bottom: 5px;">
                        <label for='e_opresentation' style="margin-right: 15px;margin-left: 5px; margin-bottom: 5px;">{{ 'commons.order' | translate
                        }}*:</label>
                      </div>
                      <div class="col">
                        <input id="opresentation" min="1" step="1" inputmode="numeric" pattern="[0-9]*" class='form-control form-control-sm' type='number' formControlName='opresentation'>
                      </div>
                      </div>

                        <div class="row no-gutters" style="margin-bottom: 5px;">
                
                        <div class="col-2 d-flex" style="margin-bottom: 5px;">
                        <label for='e_active' style="margin-right: 15px;margin-left: 5px; margin-bottom: 5px;">
                          <input type="checkbox" formControlName='active' />
                          {{ 'commons.active2' | translate }}
                        </label>
                     
                        </div>
                        <div class="col">
                          <label for='e_available' style="margin-right: 15px;margin-left: 5px; margin-bottom: 5px;">
                          <input type="checkbox" formControlName='available' />
                          {{ 'commons.available' | translate }}
                        </label>
                      </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
          <!-- <div class='mt-2' style="background-color:#dee2e6;  border-radius: 15px; ;padding-top: 5px;">
       
            </div>-->
          </form>
        </div>
            <div class="modal-footer">
              <div class="row mt-1 mr-0 ml-0 mt-1 w-100">
                <div class="col-7">
                  <label *ngIf="room && room.id" style="margin-bottom: 0px;">
                    <input type="checkbox" (change)="onCheckboxAcceptChange($event)" [checked] = "creating"/>
                    {{ 'commons.confirm' | translate }} {{ 'commons.update2' | translate }}
                  </label>
                  <label *ngIf="room == null || (room && room.id == null)" style="margin-bottom: 0px;">
                    <input type="checkbox" (change)="onCheckboxAcceptChange($event)" [checked] = "creating"/>
                    {{ 'commons.confirm' | translate }} {{ 'commons.creation' | translate }}
                  </label>
                </div>
               <div class="col-5">
                <span style='flex: 1 1 auto;'></span>
                <button *ngIf="room && room.id" class='btn btn-success' [disabled]="!roomForm.valid || !creating || disabled"
                  (click)="okUpdate()" style='margin-left: 5px; margin-bottom: 10px;'>
                  {{ 'commons.update' | translate }}
                </button>
                <button *ngIf="room == null || (room && room.id == null)" class='btn btn-success' [disabled]="!roomForm.valid || !creating || disabled"
                  (click)="okUpdate()" style='margin-left: 5px; margin-bottom: 10px;'>
                  {{ 'commons.create' | translate }}
                </button>
                <button class='btn btn-danger' (click)="cancelUpdate();" style='margin-left: 5px; margin-bottom: 10px;'>
                  {{ 'commons.cancel' | translate }}
                </button>
               </div>
               
              </div>

            </div>
         
         
     